<div class="row" data-ng-hide="init">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome</h3>
            </div>
            <div class="panel-body">
                <p>This is a small torrent streaming application, which uses VLC to play videos. 
                To get started use this freely available video torrent, called Big Buck Bunny. 
                Copy the link below and press the green torrent button in the top right corner.</p>
                <p><i>http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_30fps_normal.mp4.torrent</i></p>
                <p>This program is not fully tested any might harm something</p>
            </div>
        </div>
    </div>
</div>
